<%- include("partials/header"); -%>

    <h1>Home</h1>

    <p><%= content %></p>

    <div>
        <% posts.forEach( (post, idx) => { %>
            <% const slicedContent = post.content.substring(0, 100); %>
            
            <div>
                <h1><%= post.title %></h1>
                <p><%= slicedContent %> ... <a href="/posts/<%= post.title %>"> Read More</a></p>
            </div>
        <% }); %>
    </div>

<%- include("partials/footer"); -%>