<%- include("partials/header"); -%>

    <h1>Home</h1>

    <p><%= content %></p>

    <div>
        <% posts.forEach(post => { %>
            <div>
                <h3><%= post.title %></h3>
                <p><%= post.content %></p>
            </div>
        <% }); %>
    </div>

<%- include("partials/footer"); -%>